# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg

# Builds
build/
dist/
.venv/
venv/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.coverage
.coverage.*
htmlcov/

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Env files
.env
.env.local
